@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #1a1a1d;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: #151518;
}

.loader-container {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #c3073f;
  left: 15%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: circle .5s alternate infinite ease;
          animation: circle .5s alternate infinite ease;
}

@-webkit-keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
            transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
            transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  z-index: -1;
  left: 15%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-animation: shadow .5s alternate infinite ease;
          animation: shadow .5s alternate infinite ease;
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: .7;
  }
  100% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    opacity: .4;
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: .7;
  }
  100% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.load-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100vh;
  background-color: #c3073f;
}

#main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 5rem;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  #main {
    display: none;
  }
}

#main .nav-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

#main .nav-container .logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

#main .nav-container .logo a span {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #c3073f;
}

#main .nav-container .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style: none;
}

#main .nav-container .links ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #4e4e50;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main .nav-container .links ul li a:hover {
  color: #525252;
}

#main .nav-container .links ul li .active {
  color: #fff;
}

#secondary {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 5rem;
  background-color: #000;
  display: none;
}

@media screen and (max-width: 768px) {
  #secondary {
    display: block;
  }
}

#secondary .nav-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

#secondary .nav-container .logo a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#secondary .nav-container .logo a span {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #c3073f;
}

#secondary .nav-container .hamburger {
  position: relative;
  height: 2rem;
  width: 2rem;
}

#secondary .nav-container .hamburger span {
  position: absolute;
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#secondary .nav-container .hamburger span:nth-child(1) {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1.5rem;
  height: 2px;
}

#secondary .nav-container .hamburger span:nth-child(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#secondary .nav-container .hamburger span:nth-child(3) {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1.5rem;
  height: 2px;
}

#secondary .nav-container .active span:first-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 2rem;
}

#secondary .nav-container .active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#secondary .nav-container .active span:last-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 2rem;
}

#secondary-nav-links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#secondary-nav-links ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#secondary-nav-links ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#secondary-nav-links ul li a:hover {
  color: #525252;
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100vh;
  background-color: #c3073f;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
}

.home-page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .home-page-content {
    gap: 1rem;
  }
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title .sub-title {
  position: absolute;
  top: 20%;
  left: 0;
  font-size: 1rem;
  letter-spacing: normal;
  font-weight: 300;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 768px) {
  .title .sub-title {
    font-size: 0.6rem;
  }
}

.title .main-title {
  position: relative;
  font-size: 5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #c3073f;
  letter-spacing: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .main-title span {
  display: block;
  font-size: 8rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .title .main-title {
    font-size: 2rem;
  }
  .title .main-title span {
    font-size: 3.5rem;
  }
}

.bar {
  position: relative;
  width: 40%;
  height: 3px;
  background-color: #4e4e50;
  border-radius: 1.5rem;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.button-container {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.button-container .button {
  text-decoration: none;
  width: 20rem;
  height: 3rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 2px solid #6f2232;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-container .button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #c3073f;
}

@media screen and (max-width: 768px) {
  .button-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
  }
  .button-container .button {
    width: 80%;
  }
}

#about {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  #about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
}

#about .container .left {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .container .left .punch {
  width: 75%;
  margin: auto 0;
  margin: auto 0;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

#about .container .left .punch span {
  color: #c3073f;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #about .container .left .punch {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #about .container .left {
    padding-bottom: 2rem;
    border-bottom: 2px solid #c3073f;
  }
}

#about .container .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#about .container .right .headline {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

#about .container .right .content {
  font-size: 1.2rem;
  color: #555252;
  font-weight: 600;
}

#service {
  position: relative;
  width: 100%;
  margin: 10rem 0;
}

#service .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #service .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
}

#service .container .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  #service .container .service-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

#service .container .service-item .icon i {
  font-size: 2rem;
  color: #fff;
}

#service .container .service-item .info {
  font-size: 1.2rem;
  color: #555252;
  font-weight: 600;
}

#sources {
  position: relative;
  width: 100%;
  margin: 5rem 0;
}

#sources .source-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  #sources .source-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    padding: 0 1rem;
  }
}

#sources .source-container .source-item {
  position: relative;
  width: calc((100% - 10rem) / 4);
  height: 400px;
  background: #151518;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: all ease 0.75s;
  transition: all ease 0.75s;
}

@media screen and (max-width: 768px) {
  #sources .source-container .source-item {
    width: 100%;
  }
}

#sources .source-container .source-item .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#sources .source-container .source-item .head .num {
  font-size: 1.2rem;
  color: #555252;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

#sources .source-container .source-item .head .info {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
}

#sources .source-container .source-item .icon {
  pointer-events: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#sources .source-container .source-item .icon i {
  font-size: 4rem;
  color: #fff;
}

#sources .source-container .source-item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all ease 0.75s;
  transition: all ease 0.75s;
}

#sources .source-container .source-item .content .text {
  font-weight: 300;
}

#sources .source-container .source-item .content a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#sources .source-container .source-item .content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #c3073f;
}

#sources .source-container .source-item:hover {
  background-color: #000;
}

#sources .source-container .source-item:hover .icon {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

#sources .source-container .source-item:hover .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#how {
  width: 100%;
}

#how .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

#how .container .title {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

#how .container .title h1 {
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  #how .container .title h1 {
    font-size: 3rem;
  }
}

#how .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 30vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #how .container .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    height: auto;
  }
}

#how .container .info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: 25%;
}

@media screen and (max-width: 768px) {
  #how .container .info .item {
    width: 100%;
  }
}

#how .container .info .item .num {
  width: 10vh;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  border-radius: 50%;
  border: 5px solid #000;
}

#how .container .info .item .content {
  width: 70%;
  height: 100%;
  font-size: 1.2rem;
  color: #555252;
}

#how .container .info .pipe {
  width: 5px;
  height: 30vh;
  border-radius: 2.5px;
  background-color: #555252;
}

@media screen and (max-width: 768px) {
  #how .container .info .pipe {
    width: 50%;
    height: 5px;
  }
}

#infoGrid {
  width: 100%;
  margin: 5rem 0;
}

#infoGrid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

#infoGrid .container .title {
  width: 100%;
  text-align: center;
}

#infoGrid .container .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  #infoGrid .container .title h1 {
    font-size: 3rem;
  }
}

#infoGrid .container .parent {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: 60vh;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 768px) {
  #infoGrid .container .parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
}

#infoGrid .container .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div1 {
    border-right: none;
    border-bottom: none;
  }
}

#infoGrid .container .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 2 / 5;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div2 {
    border-top: 5px solid #fff;
    border-bottom: none;
  }
}

#infoGrid .container .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2 / 3 / 3 / 5;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div3 {
    border-left: 0;
    border-right: 5px solid #fff;
  }
}

#infoGrid .container .div4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 4 / 4;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div4 {
    border-left: 5px solid #fff;
    border-right: 0;
    border-top: 0;
  }
}

#infoGrid .container .div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 4 / 5;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div5 {
    border-left: 0;
  }
}

#infoGrid .container .div1, #infoGrid .container .div2, #infoGrid .container .div3, #infoGrid .container .div4, #infoGrid .container .div5 {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div1, #infoGrid .container .div2, #infoGrid .container .div3, #infoGrid .container .div4, #infoGrid .container .div5 {
    width: 100%;
    height: auto;
    border-radius: 0px;
    -webkit-transform: none;
            transform: none;
    padding: 2rem 0;
  }
}

#infoGrid .container .div1 .text, #infoGrid .container .div2 .text, #infoGrid .container .div3 .text, #infoGrid .container .div4 .text, #infoGrid .container .div5 .text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #555252;
}

#infoGrid .container .div1 span, #infoGrid .container .div2 span, #infoGrid .container .div3 span, #infoGrid .container .div4 span, #infoGrid .container .div5 span {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #c3073f;
}

#infoGrid .container .div1 {
  width: 100%;
  height: 100%;
}

#infoGrid .container .div1 .img-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#infoGrid .container .div1 .img-container img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div1 .img-container img {
    width: 80%;
  }
}

#infoGrid .container .div4 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
}

#infoGrid .container .div4 .text {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #infoGrid .container .div4 .text {
    width: 100%;
    text-align: center;
  }
}

#infoGrid .container .div5 {
  width: 100%;
  height: 100%;
}

#infoGrid .container .div5 .img-container img {
  width: 80%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  #infoGrid .container .div5 .img-container img {
    width: 100%;
    height: 50vh;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0;
  }
}

#testimonials {
  position: relative;
  width: 100%;
  margin: 5rem 0;
}

#testimonials .container .title {
  width: 100%;
  text-align: center;
  margin: 3rem 0;
}

#testimonials .container .title h1 {
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  #testimonials .container .title h1 {
    font-size: 3rem;
  }
}

#testimonials .container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#testimonials .container .swiper-wrapper .swiper-slide {
  width: calc(100% / 3);
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #151518;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  #testimonials .container .swiper-wrapper .swiper-slide {
    aspect-ratio: 3/4;
  }
}

#testimonials .container .swiper-wrapper .swiper-slide .bar {
  width: 100%;
  height: 3px;
  background-color: #c3073f;
}

#testimonials .container .swiper-wrapper .swiper-slide blockquote {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  color: #555252;
}

#testimonials .container .swiper-wrapper .swiper-slide .auth-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .container .swiper-wrapper .swiper-slide .img-container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .container .swiper-wrapper .swiper-slide .img-container img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#testimonials .container .swiper-wrapper .swiper-slide .author {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: #c3073f;
}

footer {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  background-color: #000;
  color: #fff;
}

footer span {
  color: #c3073f;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 1.5rem;
  }
}

header {
  width: 100%;
}

header .container {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  header .container {
    height: 30vh;
  }
}

#form {
  width: 100%;
  height: 100%;
  margin-bottom: 10rem;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.buy-sell {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #151518;
  height: 5rem;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 1rem 1rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: auto;
  }
}

.wrapper .option {
  background: #1a1a1d;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  padding: 0 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .wrapper .option {
    width: 100%;
    padding: 10px;
  }
}

.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #525252;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #c3073f;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#buy:checked:checked ~ .buy,
#sell:checked:checked ~ .sell {
  border-color: #c3073f;
  background: #c3073f;
}

#buy:checked:checked ~ .buy .dot,
#sell:checked:checked ~ .sell .dot {
  background: #fff;
}

#buy:checked:checked ~ .buy .dot::before,
#sell:checked:checked ~ .sell .dot::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper .option span {
  font-size: 20px;
  color: #808080;
}

#buy:checked:checked ~ .buy span,
#sell:checked:checked ~ .sell span {
  color: #fff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 768px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #525252;
}

input[type="text"] {
  height: 3rem;
  background-color: #151518;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #555252;
  font-weight: 300;
}

input[type="text"]:focus {
  outline: none;
}

.address {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.address .address-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 768px) {
  .address .address-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.address .address-group input {
  width: 100%;
}

select {
  height: 3rem;
  background-color: #151518;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #555252;
  font-weight: 300;
}

select:focus {
  outline: none;
}

select option {
  color: #555252;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  select option {
    height: 2rem;
    font-size: 1.2rem;
  }
}

select option:hover {
  background-color: #c3073f;
  color: #fff;
}

.book-label {
  width: 100%;
  text-align: center;
}

.books {
  width: 80%;
  margin: 0 auto;
}

.books ul.boxes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.books ul.boxes li {
  display: inline;
}

.books ul.boxes li label {
  display: inline-block;
  color: #555252;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 25px;
  border: 2px solid #151518;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.books ul.boxes li label {
  cursor: pointer;
}

.books ul.boxes li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding: 2px 6px 2px 2px;
  content: "➕";
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.books ul.boxes li input[type="checkbox"]:checked + label::before {
  content: "✔";
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.books ul.boxes li input[type="checkbox"]:checked + label {
  background-color: #c3073f;
  border-color: #c3073f;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.books ul.boxes li input[type="checkbox"] {
  display: absolute;
}

.books ul.boxes li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"] {
  outline: none;
}

input[type="checkbox"]:checked {
  outline: none;
}

input[type="checkbox"]:focus {
  outline: none;
}

.amount {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amount label {
  text-align: center;
}

.amount input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-weight: 600;
}

.amount input::-webkit-input-placeholder {
  color: #c3073f;
}

.amount input:-ms-input-placeholder {
  color: #c3073f;
}

.amount input::-ms-input-placeholder {
  color: #c3073f;
}

.amount input::placeholder {
  color: #c3073f;
}

.agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agree .cbx {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.agree .cbx span:first-child {
  width: 24px;
  aspect-ratio: 1;
}

.agree .cbx span {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.agree .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.agree .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.agree .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #c3073f;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.agree .cbx span:last-child {
  margin-left: 8px;
}

.agree .cbx span:last-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b9b8c3;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.agree .cbx:hover span:first-child {
  border-color: #c3073f;
}

.agree .inp-cbx:checked + .cbx span:first-child {
  border-color: #c3073f;
  background: #c3073f;
  -webkit-animation: check 0.6s ease;
          animation: check 0.6s ease;
}

.agree .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.agree .inp-cbx:checked + .cbx span:first-child:before {
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.agree .inp-cbx:checked + .cbx span:last-child {
  color: #525252;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.agree .inp-cbx:checked + .cbx span:last-child:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@-webkit-keyframes check {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes check {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

button {
  width: 10rem;
  height: 3rem;
  margin: 0 auto;
  background-color: #c3073f;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

button:focus {
  outline: none;
}

.bar {
  width: 100%;
  height: 1px;
  background-color: #b9b8c3;
}
/*# sourceMappingURL=style.css.map */