// Imports
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$nunito: 'Nunito', sans-serif;
$poppins: 'Poppins', sans-serif;
$merriweather: 'Merriweather', serif;
$abrilFatface: 'Abril Fatface', cursive;
$alegreya: 'Alegreya', serif;
$libreBaskerville: 'Libre Baskerville', serif;
$prata: 'Prata', serif;
$lato: 'Lato', sans-serif;

// Fonts
// @font-face {
//   font-family: tenreFont;
//   src: url("../font/th3-machine/TH3\ MACHINE.ttf") format("truetype");
// }

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #1a1a1d;
    font-family: $poppins;
    color: #fff;
}



.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

// lOADER
@import "./components/loader";

// navbar
@import "./components/nav";

// home
@import "./components/home";

// punch
@import "./components/about";

// services
@import "./components/services";

// sources
@import "./components/sources";

// what if
@import "./components/whatif";

// info gRID
@import "./components/infoGrid";

// testimonials
@import "./components/testimonials";

// footer
@import "./components/footer";

// FORM.HTML

// Header
@import "./components/header";

// Form
@import "./components/form";