#faq {
  width: 100%;
  min-height: 100vh;

  .container {
      position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .title {
      width: 100%;
      text-align: center;
      h1 {
        font-family: $bfont;
        font-size: 5rem;
      }
    }

    .content {
      width: 80%;
    //   max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2rem;
      line-height: 1.5rem;

    }

    details div {
      border-left: 2px solid #69b578;
      border-right: 2px solid #69b578;
      border-bottom: 2px solid #69b578;
      padding: 1.5em;
      
    }

    details div > * + * {
      margin-top: 1.5em;
    }

    details + details {
      margin-top: 0.5rem;
    }

    summary {
      list-style: none;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    summary {
      border: 2px solid #69b578;
      padding: 0.75em 1em;
      cursor: pointer;
      position: relative;
      padding-left: calc(1.75rem + 0.75rem + 0.75rem);
    }

    summary:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.75rem;
      content: "↓";
      width: 1.75rem;
      height: 1.75rem;
      background-color: #69b578;
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    details[open] summary {
      background-color: #eee;
    }

    details[open] summary:before {
      content: "↑";
    }

    summary:hover {
      background-color: #eee;
    }

    a {
      color: inherit;
      font-weight: 600;
      text-decoration: none;
      box-shadow: 0 1px 0 0;
    }

    a:hover {
      box-shadow: 0 3px 0 0;
    }

    code {
      font-family: monospace;
      font-weight: 600;
    }
  }
}
