footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 1rem;

    font-size: 2rem;
    font-family: $nunito;
    background-color: #000;
    color: #fff;

    span {
        color: #c3073f;
    }

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}