
header {
    width: 100%;
    
    .container {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media screen and (max-width: 768px) {
            height: 30vh;
        }
    }
}
