#home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @media screen and (max-width: 768px) {
        gap: 1rem;
    }

}

.title {
    position: relative;
    display: flex;
    flex-direction: column;

    .sub-title {
        position: absolute;
        top: 20%;
        left: 0;
        font-size: 1rem;
        letter-spacing: normal;
        font-weight: 300;
        color: #fff;
        font-family: $nunito;

        @media screen and (max-width: 768px) {
            font-size: 0.6rem;
        }

    }
    
    .main-title {
        position: relative;
        font-size: 5rem;
        font-weight: bold;
        font-family: $poppins;
        font-weight: 300;
        color: #c3073f;
        letter-spacing: 0.5rem;
        span {
            font-size: 8rem;
            color: #fff;
            font-family: $nunito;
            font-weight: 800;
        }

        @media screen and (max-width: 768px) {
            font-size: 2rem;
            span {
                font-size: 3.5rem;
            }
        }
    }
}

.bar {
    position: relative;
    width: 40%;
    height: 3px;
    background-color: #4e4e50;
    border-radius: 1.5rem;
}

.button-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    .button {
        text-decoration: none;
        width: 20rem;
        height: 3rem;
        // border-radius: 1.5rem;
        color: #fff;
        font-family: $nunito;
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        display: grid;
        place-items: center;
        border: 2px solid #6f2232;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #fff;
            border-color: #fff;
            color: #c3073f;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        margin-top: 5rem;

        .button {
            width: 80%;

        }
    }
}